<form [formGroup]="searchformGroup">
  <div class="form-group mb-4">
    
    <input class="form-control mr-sm-3" type="text"  formControlName="search"  (keyup)="Search()" placeholder="Search Products" >
        
  </div>
  
    <div class="form-group col-md-6">
      
        <select   class="form-control"  formControlName="filter"  >
             <option value="0" selected>--Select Filter--</option>  
             <option *ngFor="let r of pstatus" >{{r.status}}</option>
             <!-- <option *ngFor="let r of result" value={{r.productStatus}}>InActive</option> -->
        </select>
<button class="btn btn-primary" (click)="Filter()">filter</button>
</div>

  </form>

 <div class="container">
    <div class="">
  <div class="col-md-6 ">
<table class="table">

  <thead>
  <tr>
    <th><h4>Product List</h4></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <th><button [routerLink]="'/addproduct'" class="btn btn-dark">ADD PRODUCT</button>
</th>
  </tr>
  
  </thead>
  

  
    <tr>
      <th scope="col">ProductCode</th>
      <th scope="col">ProductName</th>
      <th scope="col">ProductBrand</th>
      <th scope="col">ProductPrice</th>
      <th scope="col">ProductDescription</th>
        <th scope="col">ProductStatus</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
     
    </tr>
 
  <tr *ngFor="let r of result ">
    <td scope="col">{{r.productCode}}</td>
    <td scope="col">{{r.productName}}</td>
    <td scope="col">{{r.productBrand}}</td>
    <td scope="col">{{r.productPrice}}</td>
    <td scope="col">{{r.productDescription}}</td>
    <td scope="col">{{r.productStatus}}</td>
    
     <td><a [routerLink]="['/updateproduct',r.productCode,r.productName,r.productBrand,r.productPrice,r.productDescription,r.productStatus]"> <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
     <td><button (click)="delete(r.productCode)" ><i class="fa fa-trash" aria-hidden="true"></i></button></td>
    
  </tr>
</table>
  </div>
    </div></div>
